.DS_Store
01IntroToModeling.html
01IntroToModeling_files
02DataUsage.html
02DataUsage_files
03ModelFitting.html
03ModelFitting_files
lecture5_part2_eval_threshold_roc.html
lecture5_part2_eval_threshold_roc_files
lecture5_part1_classification.html
lecture5_part1_classification_files
lecture5_part3_DataUsage.html
lecture5_part3_DataUsage_files
archive

